PUBLIC_GA4_ID=G-XXXXXXXXXX
PUBLIC_GOATCOUNTER_CODE=your-goatcounter-code
PUBLIC_BREVO_FORM_URL=https://sibforms.com/serve/YOUR_FORM_ID
PUBLIC_GISCUS_REPO=hellodk/hellodk.github.io
PUBLIC_GISCUS_REPO_ID=R_xxxxxxxx
PUBLIC_GISCUS_CATEGORY=General
PUBLIC_GISCUS_CATEGORY_ID=DIC_xxxxxxxx
