.image { 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
}

body {
	background: "assets/images/404_error_minion.jpg"
	background-color: #cccccc;
}
