---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

.bigHr {
    background-color: dimgrey !important;
    color: dimgrey !important;
    border: solid 1px dimgrey !important;
    height: 2px !important;
    width: 1000px !important;
}